
.Home{
padding:10%;
background-color: #36454f ;
height: 100vh;
}

.Home-form{
  text-align: center;
  margin-bottom: 10%;
}


.Home-label{
    border-radius: 8px;
margin-bottom: 10%;
background-color: white;
width: fit-content;
margin-right: auto;
margin-left: auto;
}

.Home-title{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
    margin-bottom: 25%;
}


.Home-input {
    width: 60%;
    height: 4em;
    font-size: 1.5em;
    text-align: center;
}

.Home-output {
    font-size: 2em;
    color:gold;
}

